/* body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
i,
select {
  margin: 0;
  padding: 0;
} */

/* body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.box-out {
  z-index: -99;
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 140px;
} */

.bb {
  /* width: 180px;
  height: 255px; */
  background-color: rgb(62, 71, 152);
  transition: all 0.3s ease-in-out;
  transform-origin: left center 0px;
  transform-style: preserve-3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

/* .swiper-wrapper .bb::after {
  content: ' ';
  display: block;
  opacity: 0;
  width: 180px;
  height: 255px;
  position: relative;
  left: 8px;
  transition: all 0.3s ease;
} */

.swiper-wrapper .bb::before {
  content: ' ';
  z-index: 999;
  display: block;
  width: 20px;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: -12px;
  right: 8px;
  transition: all 0.25s;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAABhCAYAAABh23lYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHCSURBVHgB7dxPTsJAHMXxN7Xu3UhigobxJHACvQFwAr2BcgO8AZxE7uGiDZiQyEIW7oSOUyKbKgLS8u+9b9JNF818fum0XdWUhy9VEDZBGIdBGD6DsFM3bQYgTnjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNZ2hR/7o+UcmnCIsaNCbLcU/RR8oB1bO/4+17l8ixoGeIBBBVvMXI0ih+L7Df2j8iiqnvgh+AVVUXDOTZvF4tNb2qC7DJ1tNgSDO78tblFQxeE92l+0NSjZDjaoMowqyYl7hDF15JzL+x+YHtxLgFq/ZO2m8LT4wsb90nUjmMD61XaRc7ng5+jBua29ntsecq6oIWyELxqdLe8h/GvPp+h0T28D/FezZ8Ip7pHgZt3X5NoPvH1BZ5sNIUTDL7C+6hBWxxt0gk+00tsOe96qH0zL8GO4pBtMg/YhoLMtG8Ii/EpfY4fSoiFk8UeFzpYdwhz/jiNGZ0uHEBjUEzftohJFZyAsdX8BM0/amLC3spYAAAAASUVORK5CYII=');
  background-size: 16px;
  background-repeat: no-repeat;
}

/*------ background-pic ------*/

/* .books-1 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-d2a1bea8a58cd447.png');
  background-size: 180px 255px;
}

.books-2 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-6b51313cfc447314.png');
  background-size: 180px 255px;
}

.books-3 {
  background: url('https://via.placeholder.com/485x685');
  background-size: 180px 255px;
} */

/* ----- hover ----- */

.bb:hover {
  cursor: pointer;
  transform: rotateY(-28deg) rotateZ(-2deg) scale(1.3);
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 3px 2px #353d85, 20px 8px 0 #525dc4;
  /* transform: scale(1.02); */
}

.bb:hover::after {
  content: ' ';
  display: block;
  opacity: 1;
  width: 172px;
  height: 255px;
  position: relative;
  left: 8px;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.bb:hover::before {
  transform: translateY(9px);
  opacity: 1;
}
