@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes BookFadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.fadeIn {
  /* 애니메이션 이름 */
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-duration: leaner;
}

.bookFadeIn {
  /* 애니메이션 이름 */
  animation-name: BookFadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.jump {
  /* 애니메이션 이름 */
  animation-name: jump;
  animation-duration: 2s;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
